@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:root {
  /* Primary */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Greys */
  --grey-950: hsl(220, 13%, 13%);
  --grey-500: hsl(219, 9%, 45%);
  --grey-300: hsl(221, 22%, 81%);
  --grey-100: hsl(219, 35%, 92%);
  --grey-50: hsl(223, 64%, 98%);

  /* Orange */
  --orange-500: hsl(26, 100%, 55%);
  --orange-300: hsl(26, 100%, 71%);
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
}

/* Nav Bar */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 24px 24px;
}

.nav__menu-logo {
  display: flex;
  align-items: end;
  gap: 16px;
}

.nav__links {
  display: none;
}

.nav__cart-profile {
  display: flex;
  gap: 24px;
}

.nav__profile-image {
  width: 24px;
  height: 24px;
}

/* Product Carousel */
.carousel__container {
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: relative;
  margin: 0 auto;
}

.carousel__thumbnail-container {
  display: none;
}

.carousel__item,
.carousel__item-hidden {
  display: none;
}

.carousel__item-visible {
  display: block;
  height: 100%;
}

.carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__actions button {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__actions button img {
  width: 8px;
  height: 12px;
}

.carousel__prev {
  margin-left: 16px;
}

.carousel__next {
  margin-right: 16px;
}

/* Product Info */
.product__info {
  padding: 24px 24px 70px;
}

.product__company {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.85px;
  color: var(--grey-500);
}

.product__title {
  margin: 16px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: var(--grey-950);
}

.product__description {
  font-size: 15px;
  line-height: 26px;
  color: var(--grey-500);
}

.product__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
}

.product__discount {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product__discount-price {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: var(--grey-950);
}

.product__discount-percentage {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: var(--white);
  background-color: var(--grey-950);
  padding: 2px 10px;
  border-radius: 6px;
}

.product__original-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: var(--grey-500);
  text-decoration: line-through;
}

.product__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  background-color: var(--grey-50);
  border-radius: 10px;
  padding: 16px;
}

.product__quantity-value {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: var(--grey-950);
}

.product__add-to-cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 0;
  border-radius: 10px;
  background-color: var(--orange-500);
  color: var(--black);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  box-shadow: 0px 20px 50px -20px rgba(255, 126, 27, 0.25);
}

@media (min-width: 768px) {
  /* tablet changes */

  /* Nav */
  .nav {
    padding: 0 80px;
    margin-bottom: 48px;
  }

  .nav__container {
    padding: 28px 0 32px;
    border-bottom: 1px solid var(--grey-100);
    margin: 0 auto;
  }

  .nav__profile-image {
    width: 50px;
    height: 50px;
  }

  /* Product Carousel */
  .product__container {
    padding: 0 80px;
  }

  .carousel__container {
    height: 290px;
    border-radius: 15px;
  }
  .carousel__item:nth-child(2) img {
    object-position: center top;
  }

  .carousel__item:nth-child(3) img {
    object-position: center 20%;
  }

  .carousel__item:nth-child(4) img {
    object-position: center 30%;
  }

  /* Product Info */
  .product__info {
    padding: 48px 0 70px;
  }

  .product__company {
    font-size: 13px;
    letter-spacing: 2px;
  }

  .product__title {
    margin: 24px 0;
    font-size: 44px;
    line-height: 48px;
  }

  .product__description {
    font-size: 16px;
  }

  .product__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 24px 0;
  }

  .product__discount {
    gap: 24px;
  }

  .product__discount-percentage {
    padding: 3px 9px;
  }

  .product__quantity-container {
    display: flex;
    gap: 8px;
  }

  .product__quantity {
    padding: 16px 24px;
    margin-bottom: 0;
    width: 298px;
    height: 56px;
  }

  .product__add-to-cart {
    flex: 1;
    padding: 15px 30px;
  }
}

@media (min-width: 1440px) {
  /* desktop changes */

  /* Nav */
  .nav {
    padding: 0 165px;
    margin-bottom: 96px;
  }

  .nav__container {
    padding: 40px 0 32px;
    max-width: 1110px;
  }

  .nav__menu-logo {
    gap: 56px;
  }

  .nav__menu-icon {
    display: none;
  }

  .nav__links {
    display: flex;
    gap: 32px;
  }

  .nav__links a {
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    color: var(--grey-950);
  }

  .nav__links a:hover {
    border-bottom: 3px solid var(--orange-500);
    margin-bottom: -58px;
    padding-bottom: 58px;
  }

  .nav__profile-image:hover {
    border: 2px solid var(--orange-500);
    border-radius: 50%;
  }

  /* Product Image */
  .product__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 128px;
  }

  .carousel__container {
    height: 445px;
    width: 448px;
    flex-shrink: 0;
    margin-bottom: 32px;
  }

  .carousel__actions {
    display: none;
  }

  .carousel__thumbnail-container {
    display: flex;
    gap: 32px;
  }

  .carousel__thumbnail {
    width: 88px;
    height: 88px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }

  .carousel__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel__thumbnail-active {
    border: 2px solid var(--orange-500);
  }

  .carousel__thumbnail-active::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.75);
  }

  /* Product-Info */
  .product__info {
    padding: 66.5px 0px;
    flex: 1;
  }

  .product__company {
    line-height: 16px;
  }

  .product__title {
    margin: 24px 0 32px;
    text-wrap: wrap;
  }

  .product__price {
    margin: 32px 0;
  }

  .product__discount {
    gap: 16px;
  }

  .product__quantity {
    padding: 16px 8px;
    width: 157px;
  }

  .product__add-to-cart {
    padding: 15px 0;
  }
}
