@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:root {
  /* Primary */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Greys */
  --grey-950: hsl(220, 13%, 13%);
  --grey-500: hsl(219, 9%, 45%);
  --grey-300: hsl(221, 22%, 81%);
  --grey-100: hsl(219, 35%, 92%);
  --grey-50: hsl(223, 64%, 98%);

  /* Orange */
  --orange-500: hsl(26, 100%, 55%);
  --orange-300: hsl(26, 100%, 71%);
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
}

/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 24px 24px;
}

.nav__menu-logo {
  display: flex;
  align-items: end;
  gap: 16px;
}

.nav__links {
  display: none;
}

.nav__cart-profile {
  display: flex;
  gap: 24px;
}

.nav__profile-image {
  width: 24px;
  height: 24px;
}

/* Product Carousel */
